/* --- 1. Global Reset & Box Sizing --- */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E0E7FF;
    cursor: pointer;
}

.pixelify-sans-regular {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
    background: linear-gradient(187deg,rgb(0, 0, 0) 0%, rgb(5, 5, 54) 66%, rgb(21, 43, 59) 100%);
    font-family: "Cutive Mono", monospace;
    line-height: 1.6;
    background-color: #0A1931;
    color: #E0E7FF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 18px;
}