/* --- 1. Global Reset & Box Sizing --- */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #9AD284;
    cursor: pointer;
}

.pixelify-sans-regular {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
    background: #684C46;
    font-family: "Cutive Mono", monospace;
    line-height: 1.6;
    color: #959595;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 18px;
}

/*Header*/
.main-header {
    color: #9AD284;
    padding: 1rem 0;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
}

.main-header h1 {
    font-size: 50px;
}

.hero {
    padding: 40px;
    text-align: center;
}

.liTitle {
    font-size: 36px;
    font-family: "Pixelify Sans", sans-serif;
    margin-bottom: 20px;
    color: #9AD284;
}

/*Main body contents*/
ul {
    list-style-type: none;
}

/*Footer*/
.main-footer {
    background: #684C46;
    color: #959595;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}